.grid_21.prefix_2.suffix_1.breadcrumb_wrapper
  %h3
    = t(".Tutorial")
  .skip_link
    = link_to t(".skip_tutorial"), root_path
  %ol.breadcrumb
    %li{:class => cur_path == tutorial_requests_path && :selected}
      = link_to t(".what_do_you_need"), tutorial_requests_path

    %li{:class => cur_path == tutorial_offers_path && :selected}
      = link_to t(".what_can_you_share"), tutorial_offers_path

    %li{:class => cur_path == tutorial_profile_path && :selected}
      = link_to t(".update_profile_info"), tutorial_profile_path

    %li{:class => [cur_path == tutorial_invite_path && :selected, :omega]}
      = link_to t(".invite_your_friends"), tutorial_invite_path
